<center>
<html>
    <head>
    </head>
  <body>
   <b><h1> Lists of posts </h1></b>
      <div class = "column">
        <% @posts.each do |post| %>
         <div class = "col-md-3">
           <div class="thumbnail">
             <a href="/posts/<%= post.id %>"><%= image_tag post.try(:avatar).try(:url), class: "post" %></a>
              <%= link_to 'Show', post_path(post) %>
               <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
           </div>
         </div>
    
        <% end %>
      </div>
     <center><div class= "col-md-12"><h1> <%= link_to 'New Post', new_post_path %></h1></div></center>
  </body>
</html>
</center>